*,
*::before,
*::after {
  box-sizing: border-box;
}


*{
  margin: 0px;
  padding: 0px;
}

.container{
  width: 1083px;
  height: 802px;
  margin: 10px auto;
}

.header{
  height: 74px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 0px 20px;
  border: 1px solid #A1A1A1;
}

.dog{
  margin: 0px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 42.19px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.nodog{
  margin: 0px;
  height: 42px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  display: flex;
  align-items: center;
}

.container2{
  border: 1px solid #A1A1A1;
  height: 728px;
  padding: 11px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 240px;
  height: 328px;
  border: 1px solid #A1A1A1;
  margin: 11px;
}

.img{
  width: 140px;
  height: 140px;
  margin: 18px 50px 4px 50px;
  border-radius: 50%;
}

.name{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

.data{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.country{
  text-align: center;
  margin-top: 6px;
  margin-bottom: 7px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.text{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  width: 211px;
  display: block;
  margin: 0 auto;
  
}